.test {
  font-size: 50px;

  p {
    color: #fff;
    font-size: 50px;
    margin: 40px;
  }
}

.burgerMenu {
  position: fixed;
  top: 25px;
  right: 20px;
  width: max-content;
  z-index: 99;

  .burgerContainer {
    display: flex;
    align-items: center;

    .burger {
      position: relative;
      width: 75px;
      height: 44px;
      cursor: pointer;

      &:before,
      &:after,
      span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #CFD9E6;
        transform: rotate(0);
        transform-origin: center;
        border-radius: 3px;
        transition: 0.3s;
      }

      &:before {
        content: '';
        top: 0;
        transition: transform 0.3s 0.2s, top 0.3s 0s;
      }

      &:after {
        content: '';
        top: calc(100% - 4px);
        transition: transform 0.3s 0.2s, top 0.3s 0s;
      }

      span {
        top: 50%;
        transform: translate(0px, -50%);
      }
    }
  }
}

.burgerClose .burgerContainer .burger {
  &:before,
  &:after {
    transition: transform 0.3s 0s, top 0.3s 0.2s;
  }
}

.burgerActive .burgerContainer .burger {
  &:before {
    top: calc(50% - 2px);
    transform: rotate(45deg);
    transform-origin: center;
  }

  &:after {
    top: calc(50% - 2px);
    transform: rotate(-45deg);
    transform-origin: center;
  }

  span {
    opacity: 0;
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: max-content;
  padding-top: 110px;
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  //background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  //background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
  clip-path: ellipse(140px 122px at 100% 0%);
  perspective-origin: 50%;
  will-change: perspective-origin;
  perspective: 100vw;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  z-index: 90;

  &.active {
    clip-path: ellipse(150% 150% at 99% 0%);

    ul.nav li {
      transform: translate(0, 0);
    }
  }

  ul.nav {
    position: relative;
    min-height: calc(100vh - 110px);
    transform-style: preserve-3d;

    & li {
      position: relative;
      text-align: right;
      cursor: pointer;
      margin-bottom: 6px;
      transform-style: preserve-3d;
      transform: translate(105%, -120px);
      transition-duration: 0.4s;
      transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
      transition-delay: var(--delay);

      a {
        position: relative;
        padding: 22px 10px 0 40px;
        display: block;
        background-color: #2e2e41;
        text-decoration: none;
        font-family: var(--font-muller);
        font-size: 95px;
        line-height: 1.05;
        letter-spacing: 5px;
        color: #fff;
        transform: rotateY(-37deg);
        transform-origin: right center;
        transform-style: preserve-3d;
        transition: 0.3s;
        z-index: 1;

        &:hover {
          background-color: #3d3d56;
          transform: rotateY(-28deg) translate(-70px, 0);
        }

        //span {
        //  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
        //  -webkit-background-clip: text;
        //  -webkit-text-fill-color: transparent;
        //}

        svg {
          position: absolute;
          right: 5px;
          top: 50%;
          transform: translate(0, -50%);
          opacity: 0;
          transition: 0.3s;
        }

        &:hover svg {
          transform: translate(70px, -50%);
          opacity: 1;
        }
      }
    }
  }
}
